

.u-df-center {
	display: flex;
	justify-content: center;
	align-items: center;
}


.u-df-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.u-df-row-wrap-start {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}


.u-df-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.u-df-column-flex-start {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
