
	
// COLORS

$color_primary: #f0f0f0;

$color_grey: #828282;
$color_white_grey: #F1F0F0;

$color_white: #fff;

$color_black: #000000;
$color_black_light: #333;

$color_blue: #4e68ad;
$color_blue_light: #0099FF;
$color_blur_with_focus: #f4f6fc;

$color_remove_btn: #656262;


// FONT

$default_font_size: 1.8rem;
$default_font_size__mobile: 1.7rem;

$bigger_font_size: 2.4rem;

$secondary_font_size: 4.4rem;
$secondary_font_size__mobile: 3.8rem;

$article_font_size: 2.4rem;

$caption_font_size: 1.3rem;
$caption_font_size__mobile: 1.5rem;

$description_font_size: 1.4rem;
$description_font_size_mobile: 1.2rem;


// SCROLLBAR COLORS

$track: #eee;
$track_piece: #eee;
$thumb: #161616b9;

$resizer: #000;


// CONTAINER

$container_max_width: 1400px;


// BREAKEPOINTS

$ultra_desktop: 2000px;
$big_desktop: 1590px;
$desktop: 1536px;
$small_desktop: 992px;
$tablet: 768px;
$phone: 576px;
$iphone_plus: 414px;
$small_phone: 320px;
